@font-face {
  font-family: Sahel;
  src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.eot');
  src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.woff') format('woff'),
       url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Sahel;
  src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.eot');
  src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.woff') format('woff'),
       url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Sahel;
  src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Black.eot');
  src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Black.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Black.woff') format('woff'),
       url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Black.ttf') format('truetype');
  font-weight: 900;
}
body {
    text-align: right;
    direction: rtl;
    font-family: Sahel;

}

.myFont{
    font-family: sahel;
}
.login__icon{
    right:initial;
    left:0;
}
.login__field {
    margin-right: 20px;
    padding-left: 5px;
    
}


element.style {
  font-size: medium;
  padding: 20px 30px;
  color: red;
  background-color: #f5eeee;
  margin: 5px;
}
/* The alert message box */
.alert {
  padding: 5 px;
  padding-top: 5px;
  padding-right: 10px;
  background-color: #ee948d; /* Red */
  color: rgb(248, 6, 6);
  margin-bottom: 15px;
  display: flex;
  font-size: 14px !important;

}
  /* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    /* font-weight: bold; */
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }