{% extends "registration/base.html" %}
{%load crispy_forms_tags %} 
{% block title %}{% block title-meta %}
لیست سفرها 
{% endblock%}{% endblock%}

{% block main %}


<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title mb-0 float-left"> اضافه کردن سفر</h3>
      </div>
      <div class="card-body m-2">
          <form method= "post" enctype="multipart/form-data">{% csrf_token %}
              
        <div class="row">
            <div class="col-4">
                {{form.flight_type | as_crispy_field}}
            </div>
            <div class="col-4">
                {{form.company | as_crispy_field}}
            </div>
            <div class="col-4">
                {{form.author | as_crispy_field}}
            </div>
            {% comment %} next line in form {% endcomment %}
            <div class="col-4">
               {{form.source | as_crispy_field}}
            </div>
            <div class="col-4">
                {{form.destination | as_crispy_field}}
            </div>
           <div class="col-4">
               {{form.service_type | as_crispy_field}}
           </div>
           {% comment %} next line in form {% endcomment %}
           <div class="col-4">
               {{form.slug | as_crispy_field}}     
               {{form.status | as_crispy_field}}
               
            </div>
            <div class="col-4">
                {{form.price | as_crispy_field}}

              
                {{form.thumbnail | as_crispy_field}}
            </div>
            <div class="col-4">
                {{form.category | as_crispy_field}}
            </div>    
            {% comment %} next line in form {% endcomment %}
           <div class="col-4">
            {{form.date | as_crispy_field}}     
              </div>
           <div class="col-4">
            
             </div>
             <div class="col-4">
             {% comment %} {{form.jupdated | as_crispy_field}} {% endcomment %}
            </div>    
                {% comment %} next line in form {% endcomment %}
           <div class="col-6">
            {{form.fly_time | as_crispy_field}}     
              </div>
           <div class="col-6">
             {{form.landing_time | as_crispy_field}}
             </div>
                   {% comment %} next line in form {% endcomment %}
          {% if user.is_superuser %}
          <div class="col-6">
            {{form.terminal | as_crispy_field}}     
              </div>
           <div class="col-6">
             {{form.airplane_model | as_crispy_field}}
             </div>
            <div class="col-6">
                {% comment %} {{form.rate_class | as_crispy_field}} {% endcomment %}
            </div>
            <div class="col-6">
                    {{form.cargo | as_crispy_field}}
            </div>
          {% endif %}
            <button class= "btn btn-success" > ارسال سفر</button>   
        </form>
    
</div>






{% endblock%}