{% extends "registration/base.html" %}

{% block title %}{% block title-meta %}
حذف سفر
{% endblock%}{% endblock%}

{% block main %}


<div class="col-md-8 text-center mx-auto">
    <!-- general form elements -->
    <div class="card card-danger">
      <div class="card-header">
        <h3 class="card-title mb-0 float-left">حذف سفر</h3>
      </div>
      <div class="card-body m-2">
        <form method="post">{% csrf_token %}
            <p class = "py-2" >آیا از حذف سفر <{{ object }}> از <{{object.author.get_full_name}}>مطمين هستید؟</p>
            {{ form }}
            <input class = "btn btn-danger w-50 rounded-pill  w-75" type="submit" value="حذف">
        </form>
    
</div>






{% endblock%}