{% extends "registration/base.html" %}
{% block title %}{% block title-meta %}
لیست سفرها 
{% endblock%}{% endblock%}

{% block main %}
<div class="row">
    <div class="col-12">
      <div class="card">
        {% comment %} <div class="card-header">
          <h3 class="card-title">Responsive Hover Table</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div> {% endcomment %}
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover">
            <thead>
              
              <tr>
                <th>مبدا</th>
                <th>مقصد</th>
                <th>لوگو</th>
                <th>نویسنده</th>
                <th>آخرین آپدیت</th>
                <th> گروه </th>
                <th> وضعیت </th>
              </tr>
                  
          
            </thead>
            <tbody >
                {% for flight in object_list %}
              <tr >
                <td>
                  {% if flight.status == 'd' or user.is_superuser %}
                  <a href = "{%url 'account:flight-update' flight.pk%}">{{flight.source}}</a>
                  {% else %}
                  {{flight.source}}
                  {% endif %}
                </td>
                <td>{{flight.destination}}</td>
                <td><img src = "{{flight.thumbnail.url}}" width = "50"></td>
                <td>{{flight.author.get_full_name}}</td>
                <td>{{flight.jupdated}}</td>
                
                <td>{{flight.category_to_str}}</td>
                <td class = text-center>
                  {% if flight.status == "p"%}
                  <span class = "badge badge-success" > پرواز مجاز</span>
                  <a target = "_blank" class = "badge badge-primary" href="{%url 'trip:detail' flight.slug %}" >نمایش پرواز</a>
                  {% else %}
                  <span class = "badge badge-danger" >کنسل شد </span>
                  {% endif %}
                  {% if user.is_superuser%}
                  <a class = "badge rounded-pill bg-light text-danger w-75 " style = "border-style: solid;border-color: red;border-width:1px" href="{%url 'account:flight-delete' flight.pk %}" > حذف</a>
                  {% endif%}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
 
{% endblock main %}