{%load static%}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>login...</title>
  <link rel="stylesheet" href="{% static 'registration/login/css/style.css'%}">
  <link rel="stylesheet" href="{% static 'registration/login/css/rtl.css'%}">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>

</head>
<body>
	

	<div class="alert">
		{% if form.non_field_errors %}
			{% for error in form.non_field_errors %}
			<span class="closebtn alert" onclick="this.parentElement.style.display='none';">{{error}}</span>
			{%endfor%}
		{%endif%}
		
	</div>
	<!-- partial:index.partial.html -->
	<div class="container">
		<div class="screen">
			<div class="screen__content">
			<form class="login" method = "post">{% csrf_token %}
				<div class="login__field myFont">
					<i class="login__icon fas fa-user"></i>
                    {{form.username |add_class:"input100"}}
						{% if form.username.errors %}
							{% for error in form.username.errors %}
								<span class="closebtn alert" onclick="this.parentElement.style.display='none';">{{error}}</span>
							{%endfor%}
						{%endif%}
		
					<span class="login__input" placeholder="نام کاربری"></span>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
                    {{form.password |add_class:"input100"}}
						{% if form.password.errors %}
							{% for error in form.password.errors %}
								<span class="closebtn alert" onclick="this.parentElement.style.display='none';">{{error}}</span>
							{%endfor%}
						{%endif%}
		
					<span class="login__input" placeholder="رمز ورود"></span>
				</div>
				<button class="button login__submit myFont">
					<span class="button__text">ورود</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<div class="social-login myFont">
				<h3>ورود کنید</h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
<!-- partial -->
  
</body>
</html>
