@font-face {
    font-family: Sahel;
    src: url('Sahel.eot');
    src: url('Sahel.eot?#iefix') format('embedded-opentype'),
         url('Sahel.woff2') format('woff2'),
         url('Sahel.woff') format('woff'),
         url('Sahel.ttf') format('truetype');
   
  }

body{
    direction: rtl;
    text-align: right;
    font-family: Sahel;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    margin-left: initial !important;
    margin-right: auto;
}
.pager-bottom {
    float: left;

}
.btn {
        /* --bs-btn-padding-x: 1.75rem; */
    --bs-btn-padding-x: 1rem !important;
    --bs-btn-padding-y: 1rem !important;
}