{%extends 'trip/base.html'%}
{% load static%}
{% block main %}
<div class="container px-4 px-lg-5 ">
    <div class="row gx-4 gx-lg-5 justify-content-center mt-5 pt-5">
        {%for hadis in hadises%}
        <div class="shadow p-3 mb-4 bg-body-tertiary rounded row gx-4 gx-lg-5 justify-content-center ">{{hadis.sentence}}</div>
        {%endfor%}
        
        <!-- col-md-1 col-lg-4 col-xl-4 d-inline-flex w-100  -->
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-1 w-100 d-inline-flex">
            
            <!-- <div class="card-columns mh-100 " > -->
        <!-- Post preview-->
        <!-- <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded row gx-4 gx-lg-5 justify-content-center "> -->
            {% for flight in category.trips.all %}
                <div class = "m-0">

                    <div class=" card border-dark mb-3 rounded-3 shadow" >
                        <div class="card text-center d-inline">
                            {% for cat in flight.category_published.all %}

                            {% comment %} <a class="btn btn-primary m-1" href="#" role="button" style="width: 20px;height: 5px ;font-size: 12px;" >{{cat.title}}</a> {% endcomment %}
                            <a href="#" class="btn btn-outline-info rounded-pill p-2 m-1"style= "font-size:10px">{{cat.title}}</a>
                                {% comment %} <span class="badge badge-warning">{{cat.title}}</span> {% endcomment %}
                                                       
                            {%endfor%}
                            {% comment %}                             
                            {%if flight.flight_type == "EC"%}
                            اکونومی
                            {% elif flight.flight_type == "BS"%}
                            بیزینس
                            {%endif%} {% endcomment %}
                            
                        </div>
                        <div class="card-body pb-2">
                            <h5 class="card-title text-center"> {{flight.source}} <i class='far fas fa-arrow-left' style="font-size:12px;color:red" >	</i>  {{flight.destination}} </h5>
                            <div class = "d-inline-flex mt-1 pt-1">

                                <img src= '{{flight.thumbnail.url}}'class="img-fluid rounded" alt="{{flight.slug}}"style="width: 50px;height: 50px">
                                <small class = "m-3"> {{flight.company}}</small>
                            </div>
                            <p class="card-text mt-1 pt-1 mb-1 pb-1"style= "font-size:14px">تاریخ پرواز: {{flight.jdate}}</p>
                            <p class="card-text mt-1 pt-1 mb-2 pb-1"style= "font-size:14px">ساعت پرواز: {{flight.fly_time}}</p>
                            <a href="{% url 'trip:detail' flight.slug%}" class="btn btn-outline-dark rounded-pill w-100 p-1 "style="height: 25px;font-size:12px">جزییات</a>
                            
                        </div>
                        <div class="card-footer text-muted text-center pt-1" style= "font-size:12px">
                            {{flight.jupdated}}
                        </div>
                    </div>
                    
                </div>
                {%endfor%}
            </div>
            
        
        



            <!-- <div class="post-preview">
                {%for trip in trips%}
                <a href="post.html">
                    <h class="post-title">{{trip.title}}</h2>
                    <h5 class="post-subtitle">{{trip.explanation}}</h5>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">{{trip.copyright}}</a>
                    on {{trip.date}}
                </p>
                <hr class="my-4" />
                    {%endfor%}
            </div> -->
            <!-- </div> -->
            <!-- Divider-->
            <!-- Post preview-->
           
            <!-- Divider-->
            <!-- <hr class="my-4" /> -->
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4 pager-bottom "><a class="btn btn-outline-success text-uppercase rounded-pill" href="#!">  لیست سفرهای قدیمی <i class='fas fa-chevron-left' style='font-size:11px'></i></a></div>
        </div>
    </div>
</div>
{%endblock%}